@import url('https://fonts.googleapis.com/css?family=Lobster');


body{
    font-family: 'Raleway', sans-serif;

}



header p{
    color: maroon;
    font-size: 1.5rem;
    font-weight: bold;
}

/* footer p{
    color: navy;


} */

article .p2+p:hover { /*aplica el tamaño solo al p*/
   /*  color: blue */
   font-size: 4rem;
}

article .p2+p:first-letter {
    font-size: 3rem;
    font-family: fantasy;
}

article .p2+p:first-line {
    font-weight: bold;
}

footer:hover /* p.derechos */{
    font-size: 2rem;
    color: chartreuse;
}

aside a:link{
    color: indigo
}

aside a:visited{
    color: gold

}

article .p2+p:first-line{
    font-weight:bold;

}

section::before { /*pseudoelemento*/
    content: "Empieza lo bueno";
    color: salmon;

}

section::after {  /*pseudoelemento*/

    content: "termina lo bueno";
    color: salmon;
}


