/* @import url('https://fonts.googleapis.com/css?family=Lobster'); */

*,
*::before, *::after,
*::before, *:after {
    box-sizing: border-box;
}


body{
    background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#C1D600), to(#FF4E28));


}

.container{ /* IMPORTANTE, LAS INSTRUCCIONES PARA EL CONTENEDOR */
    width: 80%;
    max-width: 1080px;/* para que no se encoja hasta el límite de no ver la letra, los max y min van en px */
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

}


body{
    font-family: 'Lora', serif;

}

h1{
    font-family: 'Lobster', cursive;
    
}

header p{
    font-family: 'Lobster', cursive;
    color: maroon;
    font-size: 1.5rem;
    font-weight: bold;
}

/* footer p{
    color: navy;
} */

article .p2+p:hover { /*aplica el tamaño solo al p*/
   /*  color: blue */
   font-size: 2rem;
}

article .p2+p:first-letter {
    font-size: 3rem;
    font-family: fantasy;
}

article .p2+p:first-line {
    font-weight: bold;
}

footer:hover /* p.autora */{
    font-size: 2rem;
    color: darkred;
}

aside a:link{
    color: rgb(26, 130, 0)
}

aside a:visited{
    color: rgb(255, 17, 0)

}

article .p2+p:first-line{
    font-weight:bold;

}

section::before { /*pseudoelemento*/
    content: "***";
    color: salmon;

}

section::after {  /*pseudoelemento*/

    content: "----";
    color: salmon;
}

/* p{
text-align: justify; con esto alineamos el texto
}
*/

.actividades{
    list-style-type: square; /* ponemos viñetas a las listas */
}


.visitantes{
    border: .1rem solid black;
    padding: .3rem;
}


th, td{
        border: .1rem solid red;
        /* text-align: right;
        padding-right: 1rem; */
    }


th
{
    text-align: center;
    padding-right: 1rem;
    background-color: dimgray;

}

table.visitantes td:nth-of-type(even){
    background-color: khaki;
}

table.visitantes td:nth-of-type(odd){
    background-color: lawngreen;
}

.portada{
    width: 100%;
}